@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);

.row { 
  display: flex;

  /* Vertical Alignment */
  &.-top { align-items: flex-start }
  &.-middle { align-items: center }
  &.-bottom { align-items: flex-end }
  &.-stretch { align-items: stretch }
  &.-baseline { align-items: baseline }

  /* Horizontal Alignment */
  &.-left { justify-content: flex-start }
  &.-center { justify-content: center }
  &.-right { justify-content: flex-end }
  &.-space-between { justify-content: space-between }
  &.-space-around { justify-content: space-around }
  &.-wrap { flex-wrap: wrap }

  @media (--breakpoint-sm) {
    &.-sm-wrap { flex-wrap: wrap }
    &.-sm-nowrap { flex-wrap: nowrap }
  }

  @media (--breakpoint-md) {
    &.-md-wrap { flex-wrap: wrap }
    &.-md-nowrap { flex-wrap: nowrap }
  }

  @media (--breakpoint-lg) {
    &.-lg-wrap { flex-wrap: wrap }
    &.-lg-nowrap { flex-wrap: nowrap }
  }
}

.column  {
  display: flex;
  flex-direction: column;

  /* Vertical Alignment */
  &.-top { justify-content: flex-start }
  &.-middle { justify-content: center }
  &.-bottom { justify-content: flex-end }
  &.-space-between { justify-content: space-between }
  &.-space-around { justify-content: space-around }
  
  /* Horizontal Alignment */
  &.-left { align-items: flex-start }
  &.-center { align-items: center }
  &.-right { align-items: flex-end }
  &.-stretch { align-items: stretch }
  &.-wrap { flex-wrap: wrap }

  @media (--breakpoint-sm) {
    &.-sm-wrap { flex-wrap: wrap }
    &.-sm-nowrap { flex-wrap: nowrap }
  }

  @media (--breakpoint-md) {
    &.-md-wrap { flex-wrap: wrap }
    &.-md-nowrap { flex-wrap: nowrap }
  }

  @media (--breakpoint-lg) {
    &.-lg-wrap { flex-wrap: wrap }
    &.-lg-nowrap { flex-wrap: nowrap }
  }
}

.flex-grow { flex-grow: 1 }
.flex-shrink { flex-shrink: 1 }
.flex-none { flex: none }


.order-0 { order: 0 }
.order-1 { order: 1 }
.order-2 { order: 2 }
.order-3 { order: 3 }
.order-last { order: 99999 }


@media (--breakpoint-sm) {
  .sm-order-0 { order: 0 }
  .sm-order-1 { order: 1 }
  .sm-order-2 { order: 2 }
  .sm-order-3 { order: 3 }
  .sm-order-last { order: 99999 }
}

@media (--breakpoint-md) {
  .md-order-0 { order: 0 }
  .md-order-1 { order: 1 }
  .md-order-2 { order: 2 }
  .md-order-3 { order: 3 }
  .md-order-last { order: 99999 }
}

@media (--breakpoint-lg) {
  .lg-order-0 { order: 0 }
  .lg-order-1 { order: 1 }
  .lg-order-2 { order: 2 }
  .lg-order-3 { order: 3 }
  .lg-order-last { order: 99999 }
}